@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

a,
.green {
  text-decoration: none;
  color: rgb(93, 76, 247);
  transition: 0.4s;
  padding: 5px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(249, 53%, 83%, 0.2);
    border-radius: 15px;
  }
}
